.clipboard {
    max-width: 810px;
    margin: 0 auto 170px;
}

.clipboard__content {
    padding: 0 39px;
}

.clipboard__content-title {
    text-align: center;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1.25;
    color: var(--clr-sec-gray-700);
    margin-bottom: 16px;
}

.clipboard__content-text {
    text-align: center;
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--clr-sec-gray-500);
    margin-bottom: 96px;
}

.clipboard__img {
    object-fit: cover;
}